# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environment
venv/
.env/
.venv/
.env

# Distribution / packaging
build/
dist/
*.egg-info/

# Installer logs
pip-log.txt

# Pytest cache
.pytest_cache/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VS Code
.vscode/

# PyCharm
.idea/

# OS-specific
.DS_Store
Thumbs.db
